PORT=3000
NODE_ENV=development

# Credenciales de Supabase
# Obtén el connection string en: Supabase > Project Settings > Database > Connect
DB_URL=postgresql://postgres.tkwiseqfoseoknjvdtwv:[YOUR-PASSWORD]@aws-1-eu-west-2.pooler.supabase.com:5432/postgres